body {
  font-family: 'Oswald', sans-serif;
}
.jumbotron
{
  position: relative;
  background: url("../content/bkgd_images/tileable-whitewashed-grunge-textures-5.png") left center;
  width: 100vw;
  height: 35vh;
  background-size: cover;
  overflow: hidden;
}
.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */

.jumbotron .container {
  vertical-align: middle;
}

/* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
